# Intro a Pandas

In [1]:
import pandas as pd
from pandas import Series, DataFrame

## Estructuras de Datos: Series

In [9]:
obj = pd.Series([3,9,27])
print(obj)

0     3
1     9
2    27
dtype: int64

In [8]:
type(obj)

pandas.core.series.Series

In [10]:
obj2 = pd.Series([4,3,4,3], index=['a','b','c','d'])
print(obj2)

a    4
b    3
c    4
d    3
dtype: int64

In [11]:
obj2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [12]:
obj2['a']

4

In [13]:
obj2[obj2>3]

a    4
c    4
dtype: int64

In [14]:
obj2*2

a    8
b    6
c    8
d    6
dtype: int64

In [22]:
#funciona a partir de un diccionario
sdata = {'San José':10000, 'Limón':20000, 'Alajuela':30000, 'Puntarenas':24000,'Heredia':50000, 'Cartago':23000}
type(data)

dict

In [23]:
obj3 = pd.Series(sdata)

In [26]:
provincias = ['San José', 'Limón', 'Heredia', 'Alajuela', 'Cartago', 'Guanacaste']

In [28]:
obj4  = pd.Series(sdata, index = provincias)
print(obj3)

San José      10000.0
Limón         20000.0
Heredia       50000.0
Alajuela      30000.0
Cartago       23000.0
Guanacaste        NaN
dtype: float64

In [29]:
obj4.isnull()

San José      False
Limón         False
Heredia       False
Alajuela      False
Cartago       False
Guanacaste     True
dtype: bool

In [45]:
data = {'provincia': ['San José', 'Limón', 'Heredia', 'Alajuela', 'Cartago', 'Guanacaste', 'Puntarenas'],
'año': [2000, 2001, 2002, 2001, 2002, 2003],
'pob': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame = pd.DataFrame(data) #error, todos los arreglos tienen que tener la misma cantidad de elementos

In [46]:
frame

    provincia   año  pob
0    San José  2000  1.5
1       Limón  2001  1.7
2     Heredia  2002  3.6
3    Alajuela  2001  2.4
4     Cartago  2002  2.9
5  Guanacaste  2003  3.2
6  Puntarenas  2003  3.2

In [49]:
frame2 = pd.DataFrame(data, columns=['año', 'pob', 'provincia'])
frame2

    año  pob   provincia
0  2000  1.5    San José
1  2001  1.7       Limón
2  2002  3.6     Heredia
3  2001  2.4    Alajuela
4  2002  2.9     Cartago
5  2003  3.2  Guanacaste
6  2003  3.2  Puntarenas

In [52]:
frame2['año']

0    2000
1    2001
2    2002
3    2001
4    2002
5    2003
6    2003
Name: año, dtype: int64

In [54]:
frame2

0    2000
1    2001
2    2002
3    2001
4    2002
5    2003
6    2003
Name: año, dtype: int64

In [55]:
frame2.loc[3]

año              2001
pob               2.4
provincia    Alajuela
Name: 3, dtype: object

In [57]:
frame2['País'] = 'Costa Rica'
frame2.head()

    año  pob provincia        País
0  2000  1.5  San José  Costa Rica
1  2001  1.7     Limón  Costa Rica
2  2002  3.6   Heredia  Costa Rica
3  2001  2.4  Alajuela  Costa Rica
4  2002  2.9   Cartago  Costa Rica

In [59]:
frame2['capital'] = frame.provincia=='San José' 
frame2

    año  pob   provincia        País  capital
0  2000  1.5    San José  Costa Rica     True
1  2001  1.7       Limón  Costa Rica    False
2  2002  3.6     Heredia  Costa Rica    False
3  2001  2.4    Alajuela  Costa Rica    False
4  2002  2.9     Cartago  Costa Rica    False
5  2003  3.2  Guanacaste  Costa Rica    False
6  2003  3.2  Puntarenas  Costa Rica    False

In [60]:
del frame2['capital']
frame2

    año  pob   provincia        País
0  2000  1.5    San José  Costa Rica
1  2001  1.7       Limón  Costa Rica
2  2002  3.6     Heredia  Costa Rica
3  2001  2.4    Alajuela  Costa Rica
4  2002  2.9     Cartago  Costa Rica
5  2003  3.2  Guanacaste  Costa Rica
6  2003  3.2  Puntarenas  Costa Rica

In [61]:
pop = {'San José': {2001: 2.4, 2002: 2.9}, 'Cartago': {2000: 1.5, 2001: 1.7, 2002: 3.6}} #diccionarios anidados

In [62]:
frame3 = pd.DataFrame(pop)

In [63]:
frame3

      San José  Cartago
2000       NaN      1.5
2001       2.4      1.7
2002       2.9      3.6

In [64]:
frame3.T

          2000  2001  2002
San José   NaN   2.4   2.9
Cartago    1.5   1.7   3.6