Inmutability

In [2]:
name = "sam"

In [3]:
name[0] = 'P'

TypeError: 'str' object does not support item assignment

In [4]:
#concatenation:
last_letters = name[1:]

In [5]:
last_letters

'am'

In [6]:
'P' + last_letters

'Pam'

In [71]:
x = 'Hello World'

In [9]:
x + " it is beautiful outside"

'Hello World it is beautiful outside'

In [10]:
x.upper

In [11]:
x.upper()

'HELLO WORLD'

In [72]:
x.split()

['Hello', 'World']

In [14]:
x.split('e')

['H', 'llo World']

In [16]:
#.format
print('This is a string {}'.format('INSERTED'))

This is a string INSERTED

In [18]:
print('The {} {} {}'.format('fox', 'brown', 'quick'))

The fox brown quick

In [20]:
print('The {2} {1} {0}'.format('fox', 'brown', 'quick'))

The quick brown fox

In [23]:
print('The {q} {b} {f}'.format(f='fox', b='brown', q='quick'))

The quick brown fox

Float formatting

In [24]:
result = 100/777

In [25]:
result

0.1287001287001287

In [26]:
print("The results was {r}".format(r=result))

The results was 0.1287001287001287

In [28]:
#float formatting follows "{value:width.precision f}"
print("The results was {r:1.3f}".format(r=result))

The results was 0.129

In [29]:
#string literal method

In [30]:
name = "Jose"

In [31]:
#new in python 3.6
print(f'Hello, his name is {name}')

Hello, his name is Jose

In [32]:
name = "Sam"
age = 3

In [34]:
print(f'{name} is {age} years old.')

Sam is 3 years old.

In [35]:
x='Python '
y='rules!'
x+y

'Python rules!'

In [36]:
'I like %s' %'apples'

'I like apples'

List: can hold a variety of types

In [37]:
my_list = [1,2,3]

In [38]:
my_list = ['a', 100, 23.4]

In [1]:
len(my_list)

NameError: name 'my_list' is not defined

In [45]:
mylist = ['one', 'two', 'three']

In [42]:
mylist[0]

'one'

In [43]:
mylist[1:]

['two', 'three']

In [46]:
another_list = ['four', 'five']

In [49]:
new_list = mylist+another_list

In [52]:
new_list[0] = 'ONE ALL CAPS'

In [53]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [55]:
new_list.append('six')

In [56]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [57]:
new_list.pop()

'six'

In [58]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [59]:
popped_item = new_list.pop()

In [60]:
popped_item

'five'

In [61]:
new_list.pop(0)

'ONE ALL CAPS'

In [62]:
new_list

['two', 'three', 'four']

In [63]:
new_list = ['a','e', 'x', 'b', 'c']
num_list = [4,1,8,3]

In [64]:
new_list.sort()

In [65]:
new_list

['a', 'b', 'c', 'e', 'x']

In [66]:
my_sorted_list = new_list.sort()

In [67]:
type(my_sorted_list)

NoneType

In [69]:
new_list.sort()
my_sorted_list = new_list

In [70]:
my_sorted_list

['a', 'b', 'c', 'e', 'x']

Dictionaries: Key-value pair

key value pairs, to quickly return a value without
knowing the exact location

In [75]:
my_dict = {'k1':'value1','k2':'value2'}

In [76]:
my_dict

{'k1': 'value1', 'k2': 'value2'}

In [77]:
my_dict['k1']

'value1'

In [78]:
prices_lookup = {'apples':2.90, 'oranges':1.83}

In [80]:
prices_lookup['apples']

2.9

In [94]:
d = {'k1':123, 'k2':[1,1,2], 'k3':{'insideKey':100}}

In [91]:
d['k2']

[0, 1, 2]

In [95]:
d['k2'][0]

1

In [97]:
d['k3']['insideKey']

100

In [98]:
d = {'k1':['a','b','c']}

In [99]:
d['k1'][2].upper()

'C'

In [100]:
d = {'k1':100,'k2':200}

In [101]:
d

{'k1': 100, 'k2': 200}

In [103]:
d['k3'] = 300
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [104]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [105]:
d.values()

dict_values([100, 200, 300])

In [106]:
d.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

Tuples: very similar to lists - immutable, they use parenthesis: (1,2,3)

In [107]:
t = (1,2,3)

In [108]:
mylist = [1,2,3]

In [109]:
type(t)

tuple

In [111]:
type(mylist)

list

In [112]:
#can mix var types
t = ('one', 2)

In [114]:
#index method
t = ('a', 'a', 'b')
t.count('a')

2

In [115]:
t.index('a')

0

In [116]:
t.index('b')

2

In [117]:
mylist[0] = 'NEW'

In [118]:
mylist

['NEW', 2, 3]

In [119]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

In [120]:
#tuples are more advanced, when passing around objects

Sets: unordered collections of unique elements. Only one of each

In [121]:
myset = set()

In [122]:
myset

set()

In [123]:
myset.add(1)
myset

{1}

In [124]:
myset.add(2)

In [125]:
myset.add(2)

In [126]:
myset

{1, 2}

In [127]:
#only unique vals

In [128]:
#casting a set to list that only gets uniques

In [129]:
mylist = [1,1,2,2]

In [130]:
set(mylist)

{1, 2}

Booleans

In [2]:
%%writefile myfile.txt
Hello, this is a quick test file
this is the second line 
this is the third line

Overwriting myfile.txt

In [4]:
myfile = open('myfile.txt')

In [6]:
pwd

'C:\\Users\\jonva'

In [8]:
myfile.read()

'Hello, this is a quick test file\nthis is the second line \nthis is the third line\n'

In [ ]:
## to read again, reset the cursor

In [9]:
myfile.seek(0)

0

In [10]:
myfile.read()

'Hello, this is a quick test file\nthis is the second line \nthis is the third line\n'

In [11]:
myfile.seek(0)

0

In [12]:
myfile.readlines()

['Hello, this is a quick test file\n',
 'this is the second line \n',
 'this is the third line\n']

File locations: paths

In [13]:
pwd

'C:\\Users\\jonva'

In [14]:
## need to close file
myfile.close()

In [15]:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [16]:
contents

'Hello, this is a quick test file\nthis is the second line \nthis is the third line\n'

In [17]:
#'r' read only, 'w' write only, 'a' append only
with open('myfile.txt', mode='r') as my_new_file:
    contents = my_new_file.read()

In [20]:
%%writefile my_new_file.txt
ONE ON FIRST 
TWO ON SECOND 
THREE ON THIRD

Writing my_new_file.txt

In [21]:
with open('my_new_file.txt', mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [22]:
with open('my_new_file.txt', mode='a') as f:
    f.write('FOUR ON FOURTH')

In [24]:
with open('my_new_file.txt', mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD
FOUR ON FOURTH

In [25]:
with open('lkjslkjsdf.txt', mode='w') as f:
    f.write('I CREATED THIS  FILE!')

In [26]:
with open('lkjslkjsdf.txt', mode='r') as f:
    print(f.read())

I CREATED THIS  FILE!

Statements

In [30]:
hungry = True
if hungry:
    print('FEED ME!')
else:
    print("I'm not hungry")

FEED ME!

In [33]:
loc = 'Bank'
if loc == 'Auto Shop':
    print("Cars are cool!")
elif loc == 'Bank':
    print("Money is cool")
else:
    print("I do not know much")

Money is cool

In [34]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [35]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [36]:
for num in mylist:
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [39]:
for num in mylist:
    #Check for even
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd Number: {num}')

Odd Number: 1
2
Odd Number: 3
4
Odd Number: 5
6
Odd Number: 7
8
Odd Number: 9
10

In [44]:
list_sum = 0
for num in mylist:
    list_sum = list_sum + num

print(list_sum)

55

In [45]:
list_sum = 0
for num in mylist:
    list_sum = list_sum + num
    ##indentation
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [46]:
mystring = 'Hello World'

for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [47]:
tup = (1,2,3)
for item in tup:
    print(item)

1
2
3

In [48]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [49]:
len(mylist)

4

In [52]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [55]:
##tuple unpacking 
for a,b in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [1]:
my_list = [(1,2,3),(4,5,6),(7,8,9)]

In [2]:
for a,b,c in my_list:
    print(b)

2
5
8

In [5]:
#iterating through a dicts

d = {'k1':1, 'k2':2, 'k3':3}

for key,value in d:
    print(value)

1
2
3

In [10]:
x = 0 
while x < 5: 
    print(f'x is equal to {x}')
    x+=1
else:
    print('x is not less than 5')

x is equal to 0
x is equal to 1
x is equal to 2
x is equal to 3
x is equal to 4
x is not less than 5

In [11]:
#break, continue, pass
x = [1,2,3]

for item in x:
    pass ##e.g. as a placeholder, to avoid a syntax error

In [16]:
mystring = 'sammy'

for letter in mystring:
    if letter == 'a':
        continue ##goes to the top of the closest enclosing loop 
    print(letter)

s
m
m
y

In [17]:
mystring = 'sammy'

for letter in mystring:
    if letter == 'a':
        break
    print(letter)

s

In [18]:
mylist = [1,2,3]

In [19]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [20]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [22]:
##step wise
for num in range(3,10,2): 
    print(num)

3
5
7
9

In [23]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [25]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
#
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [26]:
index_count = 0
word = 'abcde'

for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [29]:
##enumerate function
word = 'abcde'

for item,letter in enumerate(word):
    print(item)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [30]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']

In [32]:
zip(mylist1,mylist2) ##location

In [34]:
for item in zip(mylist1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [36]:
##in operator 
'x' in [1,2,3]

False

In [38]:
##random library
from random import shuffle

In [41]:
mylist = [1,2,3,5]
shuffle(mylist) ##in place function
mylist

[1, 5, 3, 2]

In [42]:
from random import randint

In [43]:
randint(0,100)

98

In [44]:
input('Enter a number: ')

Enter a number: 50

'50'

In [45]:
result = input('Favorite: ')

Favorite: 50

List Comprehension

In [47]:
mystring = 'hello'

mylist = []

for letter in mystring:
    mylist.append(letter)

In [48]:
print(mylist)

['h', 'e', 'l', 'l', 'o']

In [49]:
#more efficient version
mylist = [letter for letter in mystring]

In [50]:
mylist

['h', 'e', 'l', 'l', 'o']

In [51]:
mylist = [num for num in range(0,11)]

In [52]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [53]:
mylist = [num**2 for num in range(0,11)]

In [54]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [56]:
mylist = [x for x in range(0,11) if x%2 == 0]

In [57]:
mylist

[0, 2, 4, 6, 8, 10]

In [60]:
celcius = [0, 10, 20, 34.5]

fahrenheit = [((9/5)*temp + 32) for temp in celcius]

In [61]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [62]:
##longer version

fahrenheit = []

for temp in celcius: 
    fahrenheit.append(((9/5)*temp+32))

In [63]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [64]:
## not recommended 
results = [x if x%2== 0 else 'ODD' for x in range(0,11) ]

In [65]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [66]:
## nested loops, not recommended with list comprehension

mylist = []

for x in  [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [67]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [68]:
mylist = [x*y for x in [2,4,6] for y in [1,10,100]]

In [69]:
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]

Methods and Functions

In [4]:
#help
mylist=[1,2,3]
help(mylist.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

In [5]:
def name_function():
    print('Hello')

In [6]:
name_function()

Hello

In [7]:
##add docstring
def name_function():
    '''
    DOCSTRING: Information about the function
    INPUT: ...
    OUTPUT: ...
    '''
    print('Hello')

In [10]:
def say_hello(name= 'NAME'): ## default
    print('Hello ' +name)

In [11]:
say_hello()

Hello NAME

In [12]:
say_hello('David')

Hello David

In [13]:
result = say_hello('Zach')

Hello Zach

In [15]:
##there's no return
result

In [16]:
def add(n1,n2):
    return n1+n2

In [17]:
result=add(2,3)

In [18]:
result

5

In [19]:
def dog_check(mystring):
    if 'dog' in mystring:
        return True
    else:
        return False

In [21]:
dog_check('Dog ran away') ##case sensitive

False

In [22]:
def dog_check(mystring):
    if 'dog' in mystring.lower():
        return True
    else:
        return False

In [23]:
dog_check('Dog ran away')

True

In [2]:
def dog_check(mystring):
    return 'dog' in mystring.lower() ##already a boolean no need for return

Pig Latin

In [4]:
def pig_latin(word):
    first_letter = word[0]
    #check if vowel
    if first_letter in 'aeiou':
        pig_word = word + 'ay'
    else:
        pig_word = word[1:] + first_letter + 'ay'
    
    return pig_word

In [5]:
pig_latin('what')

'hatway'

In [6]:
pig_latin('apple')

'appleay'

In [7]:
def myfunc(a,b):
    # return % of the sum of a and b
    return sum((a,b)) * 0.05
myfunc(40,60)

5.0

In [8]:
def myfunc(a,b,c=0,d=0,e=0):
    # return % of the sum of a and b
    return sum((a,b,c,d,e)) * 0.05
myfunc(40,60,50)

7.5

In [10]:
def myfunc(*args): ##unlimited args
    return sum(args) * 0.05
myfunc(3,4,5,222)

11.700000000000001

In [11]:
def myfunc(*args):
    for item in args:
        print(item)
myfunc(30,40,30)

30
40
30

In [13]:
##keyword args - returns a dictionary
def myfunc(**kwargs):
    if 'fruit' in kwargs:
        print('My fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print('I did not find any fruit here')

In [17]:
##not working 
##myfunc(fruit='apple', veggie = 'lettuce')

I did not find any fruit here

In [21]:
def myfunc(*args, **kwargs):
    print(args)
    print(kwargs)
    print('I would like {} {}'.format(args[0], kwargs['food']))

In [24]:
myfunc(10,20, food = 'eggs')

(10, 20)
{'food': 'eggs'}
I would like 10 eggs

In [28]:
def myfunc(*args):
  return[num for num in args if num%2==0]

In [29]:
myfunc(2,3,4,5,6)

[2, 4, 6]

In [48]:
def myfunc(mystring):

    i = 0

    result = []

    while i < len(mystring):

        if i % 2 == 0:

            result.append(mystring[i].upper())

        else:

            result.append(mystring[i].lower())

        i = i + 1

    return ''.join(result)

In [49]:
myfunc('what')

'WhAt'

Lambda Expression

In [1]:
def square(num): 
    return num**2

In [3]:
my_nums= [1,2,3,4,5]

In [4]:
map(square, my_nums)

In [5]:
for item in map(square,my_nums):
    print(item)

1
4
9
16
25

In [6]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [10]:
def slicer(mystring):
    if len(mystring)%2==0:
        return 'EVEN'
    else:
        return mystring[0]

In [11]:
names = ['Andy','Eve', 'Sally']

In [12]:
list(map(slicer,names))

['EVEN', 'E', 'S']

In [13]:
def check_even(num):
    return num%2 == 0

In [35]:
ny_nums = [1,2,3,4,5,6]

In [36]:
list(filter(check_even, my_nums))

[2, 4]

In [28]:
##almost a lambda expression - anonymous function
def square(num): return num**2

In [30]:
square = lambda num:num**2

In [37]:
list(map(lambda num:num**2,my_nums))

[1, 4, 9, 16, 25]

In [39]:
list(filter(lambda num:num%2 == 0, my_nums))

[2, 4]

In [40]:
list(map(lambda x:x[::-1],names))

['ydnA', 'evE', 'yllaS']

In [41]:
x=25

def printer():
    x=50
    return x
print(x)

25

LEGB Rule: 
    1. Local
    2. Enclosing function locals
    3. Global
    4. Built-in

In [43]:
#local 
lambda num:num**2

In [45]:
#Global
name = 'This is a global string'

def greet():
    
    #Enclosing
    name = 'Sammy'
    
    def hello():
        #Local
        name = "I'm a local"
        print('Hello '+name)
    
    hello()
greet()

Hello I'm a local

In [46]:
x=50

def func(x):
    print(f'X is {x}')

In [47]:
func(x)

X is 50

In [48]:
x=50

def func(x):
    print(f'X is {x}')
    
    #local reassignment 
    x=200
    print(f'I just locally changed x to be {x}')

In [49]:
func(x)

X is 50
I just locally changed x to be 200

In [50]:
def func():
    global x
    print(f'X is {x}')
    
    #local reassignment 
    x=200
    print(f'I just locally changed x to be {x}')

In [51]:
func()

X is 50
I just locally changed x to be 200

In [52]:
x

200

OO Programming

In [2]:
class Sample(): #camel casing 
    pass

In [3]:
my_sample = Sample()

In [4]:
type(my_sample)

__main__.Sample

In [5]:
class Dog():
    #Attributes - Assign it using self.attribute_name
    def __init__ (self,breed):
        self.breed=breed

In [22]:
my_dog = Dog() ##it expects the breed

NameError: name 'Dog' is not defined

In [8]:
my_dog = Dog(breed='Lab')

In [9]:
type(my_dog)

__main__.Dog

In [10]:
class Dog():
    
    def __init__ (self,breed,name,spots ):
        self.breed=breed
        self.name=name 
        self.spots= spots

In [11]:
my_dog = Dog(breed='lab',name='Sammy',spots=False)

In [12]:
my_dog.spots

False

In [13]:
class Dog():
    ##Class Object Attribute
    ##Same for any instance
    species = 'mammal'
    
    def __init__ (self,breed,name,spots ):
        self.breed=breed
        self.name=name 
        self.spots= spots

In [14]:
my_dog = Dog(breed='lab',name='Sammy',spots=False)

In [15]:
my_dog.species

'mammal'

In [16]:
class Dog():
    ##Class Object Attribute
    ##Same for any instance
    species = 'mammal'
    
    def __init__ (self,breed,name,spots ):
        self.breed=breed
        self.name=name 
        self.spots= spots
        
    #Methods
    def bark(self):
        print("Woof!")

In [28]:
my_dog = Dog('Lab','Frankie', False)

In [19]:
my_dog.bark()

Woof!

In [31]:
class Dog():
    ##Class Object Attribute
    ##Same for any instance
    species = 'mammal'
    
    def __init__ (self,breed,name,spots ):
        self.breed=breed
        self.name=name 
        self.spots= spots
        
    #Methods
    def bark(self,number):
        print("Woof! My name is {}".format(self.name))

In [34]:
my_dog = Dog('Lab','Frankie', False)
my_dog.bark(number=2) #requires a definition of number, not at attributes

Woof! My name is Frankie

In [41]:
class Circle():
    pi = 3.14
    def __init__(self,radius=1):
        self.radius = radius 
        self.area = radius*radius*Circle.pi
    
    def get_circumference(self):
        return self.radius*self.pi*2

In [42]:
my_circle = Circle(30) #overrides default

In [43]:
my_circle.radius

30

In [44]:
my_circle.get_circumference()

188.4

In [45]:
my_circle.area

2826.0

In [53]:
#Inheritance - reuse code and reduce complexity

class Animal:
    def __init__(self):
        print("Animal created")

    def whoAmI(self):
        print("Animal")

    def eat(self):
        print("Eating")

In [54]:
class Dog(Animal):
    def __init__(self):
        Animal.__init__(self)
        print("Dog created")

    def whoAmI(self):
        print("Dog")

    def bark(self):
        print("Woof!")

In [55]:
my_dog = Dog()

Animal created
Dog created

In [57]:
my_dog.eat()

Eating

In [61]:
print(my_sample)

<__main__.Sample object at 0x0000017F31F78160>

In [74]:
class Book():
    
    def __init__(self, title, author, pages):
        
        self.title = title
        self.author = author
        self.pages = pages
        
    def __str__(self):
        return f"{self.title} by {self.author}"
    
    def __len__(self):
        return self.pages
    
    def __del__(self):
        print('A book has been deleted')

In [76]:
b = Book('Once upon a time', 'JV', 200)

In [77]:
print(b)

Once upon a time by JV

In [78]:
len(b)

200

In [79]:
del b

A book has been deleted

In [80]:
b

NameError: name 'b' is not defined

Error Handling

In [14]:
try:
    result = 10 + "3"
except:
    print("Not correct")

Not correct

In [16]:
try:
    result = 10 + 10
except:
    print("Not correct")
else:
    print(result)

20

In [18]:
try: 
    f = open('testfile', 'r')
    f.write('Write a test')

except TypeError:
    print('Type Error')

except OSError:
    print('OS Error')

finally:
    print('I always run')

OS Error
I always run

In [7]:
number2 = input("Please provide a number")

Please provide a number

In [10]:
add(number1,number2) ##input is converted to text

TypeError: unsupported operand type(s) for +: 'int' and 'str'

Not correct

In [12]:
result

20

In [19]:
def ask_for_int():
    while True:
        try:
            result = int(input("Please provide a number: "))
        except:
            print("Whoops! That's not a number")
            continue
        else:
            print("Yes thank you")
            break
        finally:
            print("End of try/except/finally")

In [21]:
ask_for_int()

Please provide a number: what
Whoops! That's not a number
End of try/except/finally
Please provide a number: no
Whoops! That's not a number
End of try/except/finally
Please provide a number: please
Whoops! That's not a number
End of try/except/finally
Please provide a number: fine
Whoops! That's not a number
End of try/except/finally
Please provide a number: 20
Yes thank you
End of try/except/finally

Decorators: Tack on functionality to an existing function. You can turn on/off functionality.

In [1]:
def hello():
    return "Hello!"

In [2]:
greet = hello

In [3]:
del hello

In [4]:
greet()

'Hello!'

In [5]:
def hello(name='Jose'):
    print("Executed")
    
    def greet():
        return '\t This is the greet function inside hello'

In [7]:
hello()

Executed

In [15]:
def hello(name='Jose'):
    print("Executed")
    
    def welcome():
        return '\t This is the welcome function inside hello'
    
    return welcome

In [16]:
hello()

Executed

In [19]:
new_func = hello()

Executed

In [20]:
new_func

In [22]:
##function as an argument
def hello():
    return 'Hi Jose'

In [23]:
def new_dec(orig_func):
    def wrap_func():
        print('Some extra code')
        
        original_func()
        
        print('Some more code')
        
    return wrap_func

Generators

In [24]:
def gen_fib(n):
    
    a=1
    b=1
    for i in range(n):
        yield a ##generate as it is requested, better for large numbers
        a,b = b, a+b

In [25]:
def simple_gen():
    for x in range(3):
        yield x

In [26]:
for number in simple_gen():
    print(number)

0
1
2

In [27]:
g = simple_gen()

In [28]:
g

In [29]:
next(g)

0

In [30]:
next(g)

1

In [31]:
next(g)

2

In [33]:
next(g)

StopIteration:

In [34]:
s = 'Hello'

In [35]:
for letter in s:
    print (letter)

H
e
l
l
o

In [37]:
next(s) ##cannot directly iterate over, must turn into iterator

TypeError: 'str' object is not an iterator

In [38]:
s_iter = iter(s)

In [39]:
next(s_iter)

'H'

Container Module!

In [2]:
#counter - counts hashable objects
import collections
from collections import Counter

l = [1,2,2,2,2,4,5,5]
Counter(l)

Counter({1: 1, 2: 4, 4: 1, 5: 2})

In [3]:
s = 'How many times does each word show show in this sentence?'

In [4]:
words = s.split()

In [6]:
Counter(words)

Counter({'How': 1,
         'many': 1,
         'times': 1,
         'does': 1,
         'each': 1,
         'word': 1,
         'show': 2,
         'in': 1,
         'this': 1,
         'sentence?': 1})

In [7]:
c = Counter(words)

In [9]:
c.most_common() ##returns list of tuple pairs

[('show', 2),
 ('How', 1),
 ('many', 1),
 ('times', 1),
 ('does', 1),
 ('each', 1),
 ('word', 1),
 ('in', 1),
 ('this', 1),
 ('sentence?', 1)]

In [11]:
from collections import defaultdict ##never raises a key error

In [20]:
d = defaultdict(object)
d['one']

In [22]:
for item in d:
    print(item)

one

In [24]:
d = defaultdict(lambda: 0)

In [25]:
d['one']

0

In [26]:
d['two'] = 2

In [27]:
d

defaultdict(<function __main__.<lambda>()>, {'one': 0, 'two': 2})

In [28]:
##Ordered Dictionary

d = {}
d['a']=1
d['b']=2
d['c']=3
d['d']=4
d['e']=5

In [29]:
d

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [32]:
for k,v in d.items():
    print (k,v)

a 1
b 2
c 3
d 4
e 5

In [33]:
from collections import OrderedDict

In [35]:
d = OrderedDict()
d['a']=1
d['b']=2
d['c']=3
d['d']=4
d['e']=5

In [36]:
for k,v in d.items():
    print (k,v)

a 1
b 2
c 3
d 4
e 5

In [37]:
d1 = OrderedDict()
d1['a']=1
d1['b']=2

d2 = OrderedDict()
d1['b']=2
d1['a']=1
d1==d2

False

In [38]:
##named tuple
t = (1,2,3)
t[0]

1

In [40]:
##assigns names, like creating a class v quickly
from collections import namedtuple

Dog = namedtuple('Dog','age breed name')

In [41]:
sam = Dog(age=2,breed='Lab',name='Sammy')
sam.age

2

In [42]:
Cat = namedtuple('Cat', 'fur claws name')

In [43]:
c = Cat(fur='Fuzzy', claws=False, name='Kitty')

In [44]:
c

Cat(fur='Fuzzy', claws=False, name='Kitty')

Datetime Module!

In [45]:
#Used for timestamps
import datetime

In [52]:
t = datetime.time(5,25,1)
print(t)

05:25:01

In [54]:
t.second, t.minute

(1, 25)

In [57]:
print(datetime.time.min)
print(datetime.time.max)

00:00:00
23:59:59.999999

In [58]:
today = datetime.date.today()

In [59]:
print(today)

2019-09-21

In [60]:
today.timetuple()

time.struct_time(tm_year=2019, tm_mon=9, tm_mday=21, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=5, tm_yday=264, tm_isdst=-1)

In [61]:
today.year

2019

In [62]:
datetime.date.min

datetime.date(1, 1, 1)

In [63]:
d1 = datetime.date(2015,3,11)

In [64]:
print(d1)

2015-03-11

In [65]:
d2=d1.replace(year=1990)

In [66]:
print(d2)

1990-03-11

In [67]:
d1-d2 #diff in days

datetime.timedelta(days=9131)

Python Debugger

In [ ]:
import pdb

x = [1,2,3,4]
y = 2
z = 3

result = y+z
pdb.set_trace()
result2 = y+x

--Return--
> <ipython-input-71-1d94471c880c>(8)<module>()->None
-> pdb.set_trace()
(Pdb) x
[1, 2, 3, 4]
(Pdb) y
2
(Pdb) z
3
(Pdb) y+z
5

Timeit Module!

In [8]:
import timeit

In [9]:
# For loop
timeit.timeit('"-".join(str(n) for n in range(100))', number=10000)

0.36957589999656193

Regular Expressions

In [19]:
import re

patterns = 'term1'
text = 'There is term1 but not the other'

re.search(patterns,text) ##doesn't work with lists

In [22]:
result = re.search(patterns,text)
result.start(), result.end()

(9, 14)

In [24]:
##split
split_term='@'
email = 'jonn.vega@gmail.com'
re.split(split_term,email)

['jonn.vega', 'gmail.com']

In [25]:
##find_all
re.findall('match','match one match two match three')

['match', 'match', 'match']